{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1><a href="/">01z.co</a></h1>
    <p>
        <strong>about</strong>
    </p>
    <p>
        Directly inspired by Ivan Illich’s book <i>Deschooling Society</i>.
    </p>
    <p>
        We do not assume responsibility for whatever links or text or data of any kind
        we distribute to subscribers.
    </p>
    <p>
        We do not assume responsibility for past or future behaviour of any user that
        uses our website to meet people.
    </p>
    <p>
        However, we conduct some moderation on submissions. Specifically:
    </p>
    <ul>
        <li>we perform link-based email verification</li>
        <li>we delete garbage data entries</li>
        <li>we ban users who have exhibited problematic behaviour</li>
    </ul>
    <p>
        If your interaction with someone from a list we sent you was problematic in any
        way, please let us know at
        <a href="mailto:admin+abuse@01z.co">admin+abuse@01z.co</a>.
    </p>
    <p>
        This website’s source code is open for everyone to read and deploy and improve.
        The project is developed on the open internet at
        <a href="https://github.com/sirodoht/zima">github.com/sirodoht/zima</a>.
    </p>
</main>
{% endblock %}
