{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1><a href="/">01z.co</a></h1>
    <p>
        <strong>meet people based on intellectual interests</strong>
    </p>
    <p>
        In his 1971 book, Ivan Illich envisions a system from the future, with which
        intellectual matches between people happen in large cities. This is an
        implementation of that system.
    </p>
    <form method="post">
        <p>
            To use:
        </p>

        <p style="padding-left: 16px;">
            1. Enter your email address, in which we will send the list of people
            interested in the same thing as you. This email address will remain private
            and will not be shared with anyone else.
        </p>
        {{ form.email.errors }}
        <p style="padding-left: 16px;">
            <input type="email" name="email" required id="id_email" placeholder="email address">
            <br><small>(private email — how we contact you)</small>
        </p>

        <p style="padding-left: 16px;">
            2. Enter a way for other people to get in touch with you. This could be an
            email address (the same or different than the one above) or a phone number
            or some other way. It has to be personal, ie. not corresponding to
            something that belongs to the group or is public.
        </p>
        <p style="padding-left: 16px;">
            This email address will be shared with people interested in the same thing
            as you.
        </p>
        {{ form.contact.errors }}
        <p style="padding-left: 16px;">
            <input type="text" name="contact" maxlength="300" required id="id_contact" placeholder="email address or phone">
            <br><small>(distributed email — how others contact you)</small>
        </p>

        <p style="padding-left: 16px;">
            3. Enter a link which contains or presents or talks about a book, an article, a
            film, a podcast episode on which you seek a partner for discussion.
        </p>
        {{ form.resource.errors }}
        <p style="padding-left: 16px;">
            <input type="url" name="resource" required id="id_resource" placeholder="https://...">
            <br><small>(thing of interest)</small>
        </p>

        <p style="padding-left: 16px;">
            4. Click this checkbox to signify your agreement (a) that it is not our
            responsibility if the data we send you are problematic in any way and (b)
            that if you meet someone through 01z.co it is not our responsibility if
            their behaviour is problematic in any way.
        </p>
        {{ form.terms.errors }}
        <p style="padding-left: 16px;">
            <input type="checkbox" name="terms" required id="id_terms">
            <label for="id_terms">Fine.</label>
            <br><small>(we cannot proceed unless this is fine)</small>
        </p>

        {{ form.non_field_errors }}
        <p style="padding-left: 16px;">
            <input type="submit" value="Submit">
        </p>

        <p>
            Within a few days, you will receive a list of people (their names and ways
            to contact them) who have taken the same initiative. This list will enable
            you to contact them in order to arrange a meeting (online or offline) with
            persons for which they are exclusively known to you by the fact that they
            requested a dialogue about the same subject.
        </p>
        <p>
            To clarify: we cannot guarantee that there are people who have taken the
            same initiative as you. In case there aren’t, we will not get in touch.
        </p>
    </form>

    <hr>
    <p>
        <a href="{% url 'about' %}">about</a>
        / <a href="{% url 'privacy' %}">data privacy</a>
    </p>
</main>
{% endblock %}
