<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}01z.co — meet people based on intellectual interests{% endblock %}</title>
        <meta name="description" content="meet people based on intellectual interests">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body { font-family: sans-serif; line-height: 1.5; }
            h1 { margin: 0; }
            a { color: black; }
            main { max-width: 500px; }
            blockquote { margin: 0; padding-left: 16px; border-left: 8px solid aquamarine; }
            hr { border: none; border-top: 1px solid gray; }
            .errorlist { color: red; }
        </style>
    </head>
    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>
