{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1><a href="/">01z.co</a></h1>
    <p>
        <strong>data privacy</strong>
    </p>
    <p>
        This website does not implement any of the following:
    </p>
    <ul>
        <li>
            tracking of user or visitor behaviour
        </li>
        <li>
            sale of user or visitor data
        </li>
        <li>
            sharing user or visitor data with any third parties
        </li>
        <li>
            ads
        </li>
        <li>
            authentication for non-admins
        </li>
        <li>
            cookies of any kind
        </li>
    </ul>
    <p>
        This website is served from servers located in Germany.
    </p>
    <p>
        This website’s source code is publicy auditable at
        <a href="https://github.com/sirodoht/zima">github.com/sirodoht/zima</a>.
    </p>
</main>
{% endblock %}
