{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1><a href="/">01z.co</a></h1>
    <p>
        <strong>data privacy</strong>
    </p>
    <p>
        The operators of this website are committed to never implement any tracking of
        user or visitor behaviour and to never sell any user or visitor data. No ads,
        either.
    </p>
    <p>
        No user authentication or identification functionality of any kind is
        implemented.
    </p>
    <p>
        No cookies of any kind are stored in the user’s browser.
    </p>
    <p>
        The physical servers that this website is served from are in Germany, Europe.
    </p>
    <p>
        This website’s source code is publicy auditable at
        <a href="https://github.com/sirodoht/popoff">github.com/sirodoht/popoff</a>.
    </p>
</main>
{% endblock %}
