{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1><a href="/">01z.co</a></h1>
    <p>
        <strong>thank you + check mail</strong>
    </p>
    <p>
        Your information has been submitted.
    </p>
    <p>
        Please <strong>check your email</strong> (the private email address you entered in the
        first step) to process with the next steps.
    </p>
    <blockquote>
        <p>
            “At a first meeting in a coffee shop, say, the partners might establish their
            identities by placing the book under discussion next to their cups.”
        </p>
        <footer>—Ivan Illich, <cite>Deschooling Society</cite>, 1971</footer>
    </blockquote>
</main>
{% endblock %}
